[unicamp-misc]
name=Unicamp Repo for Misc Packages
baseurl=http://ftp.unicamp.br/pub/ppc64el/rhel/7_1/misc_ppc64el/
enabled=1
gpgcheck=0


[Extras]
name=RedHat Enterprise Linux 7 - Extras
baseurl=http://172.31.254.52/rhel/7/0/ppc64le/extras/os/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
enabled=1